@media only screen and (max-width: 768px){
body{
    font-family: 'Sofia',serif;
      background-color: black;
      padding:0;
    }
    h1{
        color:black;
        margin:0;
    }
    
    .game_title_ly{
        color:black;
        font-family: 'Dancing Script',sans-serif;
        text-align: center;
        background-image:url('../pic/ly/title_back.jpg');
        background-size:100%;
    }
    .lyzzr{
        background-image: url('../pic/ly/lzy/back.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }
    .bs,.cat{
        font-family: 'Great Vibes',serif;
        color:black;
        background-color:thistle;
        margin:20px 0 0 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius:0;

    }
    #bs,#cat{
        background-color:thistle;
        color:black;
        font-family: 'Arapey',serif;
        margin:0;
        border-top-left-radius: 0;
        border-top-right-radius:0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
        padding: 10px;
    }

    .off_intro,.fan_intro,.character{
        font-family: 'Arapey',serif;
        background-color: thistle;
        color:black;
        text-align: center;
    }

    .lzy,.zr,.charlie,.sl{
        display:grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 250px;
    }
    #lzyp,#zrp,#chp,#slp{
        grid-column: 1/span 1;
        grid-row: 1/ span 1;
        width:250px;
        height:250px;
    }
    
    #lzy,#zr,#charlie,#sl{
        grid-column: 2/span 1;
        grid-row:1/ span 1;
        padding:10px;
        margin:0;
        font-family: 'Arapey',serif;
        background-color: thistle;
        color:black;
        overflow: scroll;
    }
    
    .lzy_off{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .lzy_off img{
        margin:10px;
        border-radius: 10px;
        max-width:250px;
    }
    .lzy_fan{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .lzy_fan img{
        object-fit: cover;
        border-radius: 10px;
        max-width:400px;
    }
    .lzy_fan p{
        background-color: white;
        color:black;
        font-family: 'Times New Roman', Times, serif;
    }

    .game_title_wd{
        background-image: url('../pic/wd/top.jpg');
        color:white;
        font-family: 'Dancing Script',sans-serif;
        text-align: center;
        background-size:100%;
    }

    .wdsjb{
        background-image: url('../pic/wd/back.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .zr_off img{
        margin:auto;
        display:flex;
        flex-direction: column;
        max-width:500px;
        border-radius: 10px;
        align-items: center;
    }
    .zr_fan{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .zr_fan img{
        display:flex;
        margin:auto;
        flex-direction: column;
        max-width:400px;
        align-items: center;

    }
    .zr_fan p{
        background-color: white;
        color:black;
        font-family: 'Times New Roman', Times, serif;
    }
    .game_title_gy{
        background-image: url('../pic/gy/top.jpg');
        color:white;
        font-family: 'Dancing Script',sans-serif;
        text-align: center;
        background-size:100%;
    }

    .gyyzl{
        background-image: url('../pic/gy/back.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .charlie_off,.sl_off{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sl_off img{
        margin:10px;
        border-radius: 10px;
        max-width:250px;
    }

    .ch_fan{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ch_fan p{
        background-color: white;
        color:black;
        font-family: 'Times New Roman', Times, serif;
    }
    .ch_fan img{
        display:flex;
        margin:auto;
        flex-direction: column;
        max-width:400px;
        align-items: center;
    }
    .charlie_off img{
        margin:10px;
        border-radius: 10px;
        max-width:250px;
    }
    .game_title_hlr{
        background-image: url('../pic/sh/top.jpg');
        color:black;
        font-family: 'Dancing Script',sans-serif;
        text-align: center;
        background-size:100%;
    }
    .hlr{
        background-image: url('../pic/sh/back.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }
    .sl_fan{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .sl_fan img{
        display:flex;
        margin:auto;
        flex-direction: column;
        max-width:400px;
        align-items: center;
    }
    .sl_fan p{
        background-color: white;
        color:black;
        font-family: 'Times New Roman', Times, serif;
    }
    footer{
        color:white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin:10px;
      }
    
    }